/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 1em;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

p {
	font-family: 'Merriweather', serif;
}

.wrapper h1 a {
	text-decoration: none;
	margin: .2em 0em;
	font-size: 2em;
	font-family: 'Libre Baskerville', serif;
	color: #9CAEA8;
}

.wrapper h1 a:hover {
  color: #6F7F7A;
}

h2 {
	font-size:1.5em;
	font-family: 'Libre Baskerville', serif;
	color: #6F7F7A;
}

#necklace {
	border-style: solid;
	border-width: 5px;
	color: #9CAEA8;
}

#footer {
	text-align: right;
	font-size: .8em;
}

.button {
	display: inline;
}

.button img {
	display: inline;
	border-style: solid;
	border-width: 5px;
	border-color: #CBCDCC;
}

.button img:hover{
	border-color: #6F7F7A;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
